<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <title>Document</title>
</head>
<style>
    .color1 {
    background-color: {{color1}};
    }

    .color2 {
    background-color: {{color2}};
    }

    td {
    width: 60px;
    height: 60px;
    }
</style>
<body>
    <table>
        {%for i in range(number1) %}
        <tr>
            {%for i in range(number2) %}
            <td class="color1"></td>
            <td class="color2"></td>
            {%endfor%}
        </tr>
        <tr>
            {%for i in range(number2) %}
            <td class="color2"></td>
            <td class="color1"></td>
            {%endfor%}
        </tr>
        {%endfor%}
    </table>
    
</body>
</html>