/* the initial parameter should be putted in the top */
h1 {
    color: red;
}
p {
    background-color: rgb(204, 170, 235);
}
div {
    background-color: aquamarine;
}
.orange {
    background-color: orange;
}
.red{
    background-color : red;
    color:red;
}
button{
    font-size: 20px;
}
#blue{
    color:blue
}
#moreblue{
    background-color: rgb(121, 27, 243);
}
/* *{
    background-color: black;
} */
button:hover{
    background-color: cadetblue
    font-size: 80px;;
}
div h2{
    font-size: 100px;
}