<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/">
    <title>About :</title>
</head>
<style>
    .container{
        display: flex;

    }
    body{
        text-align: center;
    }
</style>
<body>
    <span>
        <a href="/">Home</a> |
        <a href="/project">Project</a> |
        <a href="/contact">Contact</a>
    </span>
    <h1>About me</h1>
   <div class="container">
     <div class="left">
        
        <img src="~/images/dino.jpg" alt="fs">
        <div>
            <p>Kim Jonghyun</p>
            <p>Shinee Member</p>
        </div>
        </div>
    <div class="right">
        <p>Jonghyun (종현) was a South Korean singer-songwriter and composer under SM Entertainment. 
            He was a member of the boy group SHINee and he made his solo debut on January 12, 2015 with his first mini-album Base.
        </p>
    </div>
    </div>
   </div>
    
</body>
</html>