<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    .band{
        display: flex;
        justify-content: center;
        
    }
    img{
        width: 200px;
    }
    .myprojects{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
</style>
<body>
    <div class="myprojects">
    <span>
        <a href="/">Home</a> |
        <a href="/project">Project</a> |
        <a href="/contact">Contact</a>
    </span>
    <h1>My Projects</h1>
    <div class="text-center">
        <div class="band">
        <div class="bandleft">
            <img src="~/images/Potato1.jpg" alt="jj">
        </div>
    <div class="bandright">
        <p>Pottato1</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Perferendis, minima consequuntur quaerat beatae minus quo nihil earum aspernatur recusandae, doloribus fuga at veniam commodi ab dolore quasi ipsum possimus optio.</p>
    </div>
        
    </div>
    <div class="band">
        <div class="bandleft">
            <img src="~/images/potato2.jpg" alt="jj">
        </div>
    <div class="bandright">
        <p>Pottato2</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Perferendis, minima consequuntur quaerat beatae minus quo nihil earum aspernatur recusandae, doloribus fuga at veniam commodi ab dolore quasi ipsum possimus optio.</p>
    </div>
    </div>

        <div class="band">
        <div class="bandleft">
            <img src="~/images/potato3.jpg" alt="jj">
        </div>
    <div class="bandright">
        <p>Pottato3</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Perferendis, minima consequuntur quaerat beatae minus quo nihil earum aspernatur recusandae, doloribus fuga at veniam commodi ab dolore quasi ipsum possimus optio.</p>
    </div>
    </div>

    </div>
    </div>
</body>
</html>