@{
    ViewData["Title"] = "Home Page";
}
@model User
<div class="text-center">
    <h1 class="display-4">Add A User</h1>
    <div class="card shadow p-3">
        <form action="/create/users" class="card-body" method="post">
            <div class="form-group mb-3">
                <label asp-for="UserName">Your Name :</label>
                <input class="form-control" asp-for="UserName">
                <span asp-validation-for="UserName"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Location">Dojo Location</label>
                <select asp-for="Location">
                    <option value="tunisia">Tunisia</option>
                    <option value="usa">USA</option>
                    <option value="tokyo">Tokyo</option>
                    <option value="korea">Korea</option>
                </select>
                <span asp-validation-for="Location"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="FavLanguage">Favorite Language</label>
                <select asp-for="FavLanguage">
                    <option value="python">Python</option>
                    <option value="javascript">JavaScript</option>
                    <option value="c#">C#</option>
                    <option value="java">Java</option>
                    
                </select>
                <span asp-validation-for="FavLanguage"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Comment">Comment (optional) :</label>
                <input class="form-control" asp-for="Comment">
                <span asp-validation-for="Comment"></span>
            </div>
            <button class="btn btn-dark w-40">Submit</button>
        </form>
    </div>
    
</div>
