<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <fieldset>
       <form action="results" method="post">
         <p>
            Your Name:
             <input type="text" name="name">
        </p>
        <p>
            Dojo Location:
            <select name="location" id="">
                <option value="tunisia">Tunisia</option>
                <option value="usa">USA</option>
                <option value="france">France</option>
            </select>
        </p>
           <p>
            Favorite Language:
             <select name="language" id="">
                <option value="c#">C#</option>
                <option value="python">python</option>
                <option value="js">js</option>
            </select>
           </p>
           <label for="">Comment (optional)</label>
           <textarea name="comment"  cols="30" rows="10"></textarea>
        <button>Submit</button>

       </form>
      
    </fieldset>
</body>
</html>