<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>@ViewBag.name</h1>
    <h1>@ViewBag.location</h1>
    <h1>@ViewBag.language</h1>
    @{
        if(!string.IsNullOrEmpty(ViewBag.comment))
        {
            <p>@ViewBag.comment</p>
        }
        else
        {
            <p>You didnt write a comment</p>
        }
    }
    <a href="/">Go Back</a>
</body>
</html>