<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Read One</title>
</head>
<body>
    <h1>User Name</h1>
    <a href="">Home</a>
    <div>
        <p>Full Name : {{show.first_name}} {{show.last_name}}</p>
        <p>Email :{{show.email}}</p>
        <p>Created On :{{show.created_at}}</p>
        <p>Last Updated On :{{show.updated_at}}</p>
    </div>
    <a href="">Edit</a>
    <a href="">Delete</a>
</body>
</html>