<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
    <title>Dojo Survey</title>
    <style>
        h1 {
            text-align: center;
        }

    </style>
</head>
<body>
    <form action="/newaddd" method="post">
        <h2 class="text-marging">Dojo Survey</h2>
        <div class="input-group">
            <span class="input-group-text">Your name :</span>
            <input type="text" aria-label="First name" class="form-control" name="name">
        </div>
        <div class="cont">
            <h3>
                Dojo Location :
            </h3>
            <select class="form-select" aria-label="Disabled select example" name="location">
                <option selected>Open this select menu</option>
                <option value="tunisia">Tunisia</option>
                <option value="usa">USA</option>
                <option value="egypt">Egypt</option>
            </select>
        </div>
        <div class="form-group">
            <h3>
                Favorite Language :
            </h3>
            <select class="form-select" aria-label="Disabled select example" name="language" >
                <option selected>Open this select menu</option>
                <option value="python">Python</option>
                <option value="java">Java</option>
                <option value="mern">Mern</option>
                <option value="C#">C #</option>
            </select>
        </div>
        <div>
            <h3>Comment Optional</h3>
            <input class="form-control" list="datalistOptions" id="exampleDataList" placeholder="Type" name="comment">
        </div>
            <div class="d-grid gap-2 col-6 mx-auto">
                
                <button class="btn btn-primary" type="submit" value="submit">Button</button> 
                <!-- type is the most important thing -->
            </div>
    </form>
    <!-- {% with messages = get_flashed_messages() %}    declare a variable called messages -->
        {% if messages %}     
            {%for message in messages%}   
                <p> {{message}} </p>          
            {%endfor%}   
        {%endif%}        <!-- check if there are any messages
                        loop through the messages
                        display each message in a paragraph tag -->
            
    {%endwith%}  
</body> 
</body>
</html>