

<div class="d-flex justify-content-between align-items-center">
    <h1>Success</h1>
    <form asp-action="Logout" asp-controller="Home" method="post">
        <button class="btn btn-danger">Logout</button>
    </form>
</div>
