<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    @{
        List<string> Food = new List<string>(){"Apple Pie", "Pizza", "Lasagna", "Donuts", "Chocolate Cake","acc"};
            foreach(string f in Food){
                if(char.ToLower(f[0])=='c' ){
                    <p style="color: red;">@f</p>
                }else
                {
                    <p>@f</p>
                }
            }
    }
</body>
</html>