<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
    <title>Document</title>
</head>
<body>
    <table class="table table-striped">
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Full Name</th>
        </tr>
        {% for user_value in users %}
        <tr>
            <td>{{ user_value['firstname'] }}</td>
            <td>{{ user_value['lastname'] }}</td>
            <td>{{ user_value['firstname'] }} {{ user_value['lastname'] }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
